* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(201, 98, 193, 1) 100%
  );
}

.container {
  width: 700px;
  padding: 20px;
  background-color: #fff;
}

.container section label {
  position: relative;
  display: block;
  width: 100%;
  padding: 15px 40px;
  cursor: pointer;
  background: #d95925;

  color: #fff;
}

.container h2 label::after {
  position: absolute;
  content: "\002b";
  left: 15px;
}

.container div {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  margin: 2px;
  opacity: 0;
}

.container input:checked ~ h2 label::after {
  content: "\002d";
}

.container input:checked ~ div {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}
